<div class="card">
	<a href="bitter.cgi?page=home">
		<div class="card2 menu menu_icon nav_home">
			<img src="../images/icon_home_64.png">
			<div>Home</div>
		</div>
	</a>
	<a href="bitter.cgi?page=search">
		<div class="card2 menu menu_icon nav_home">
			<img src="../images/icon_search_64.png">
			<div>Search</div>
		</div>
	</a>
	<a href="bitter.cgi?page=settings">
		<div class="card2 menu menu_icon nav_home">
			<img src="../images/icon_settings_64.png">
			<div>Settings</div>
		</div>
	</a>
	<a href="bitter.cgi?page=logout">
		<div class="card2 menu menu_icon nav_home">
			<img src="../images/icon_logout_64.png">
			<div>Logout</div>
		</div>
	</a>
</div>
<div class="break"></div>
<!-- <div class="card"> -->
	<div class="disclaimer">
		<p>
			2015 Bitter Copyright and shit. This is a disclaimer to all the people out there. This is in no way related to other social media sites, nor does it have any connection or foundation from any existing webistes. <span style="font-weight: 800">This site does not use bootstrap.</span> I would like to thank my family and friends for this oppurtunity. I would also like to lorum ipsum and poop.
		</p>
	</div>
<!-- </div> -->