<div class="card">
	
	Search by
	<div class="break"></div>

	<a href="bitter.cgi?page=search&search=username">
		<div class="card2 listens <TMPL_IF CONSTRAINT_USERNAME>active_search</TMPL_IF>">Username</div>
	</a>
	<a href="bitter.cgi?page=search&search=name">
		<div class="card2 listens <TMPL_IF CONSTRAINT_NAME>active_search</TMPL_IF>">Name</div>
	</a>
	<a href="bitter.cgi?page=search&search=bleat">
		<div class="card2 listens <TMPL_IF CONSTRAINT_BLEAT>active_search</TMPL_IF>">Bleat</div>
	</a>

</div>

<div class="break"></div>