<link rel="icon" type="../image/png" href="favicon.png">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Oxygen">
<link rel="stylesheet" type="text/css" href="../styles/reset.css">
<link rel="stylesheet" type="text/css" href="../styles/main.css">
<link rel="stylesheet" type="text/css" href="../styles/card.css">
<link rel="stylesheet" type="text/css" href="../styles/login.css">
<link rel="stylesheet" type="text/css" href="../styles/home.css">
<link rel="stylesheet" type="text/css" href="../styles/bleat.css">
<link rel="stylesheet" type="text/css" href="../styles/profile.css">
<link rel="stylesheet" type="text/css" href="../styles/pagination.css">
<link rel="stylesheet" type="text/css" href="../styles/search.css">
<link rel="stylesheet" type="text/css" href="../styles/settings.css">
