<div class="container_login">
	<div class="card">
		<div class="login_padding"></div>
		<div class="login_logo">
			<img src="images/logo_bitter_512.png">
		</div>
		<div class="login_padding"></div>
		<div class="login_welcome">An email has been sent to</div>
		<div class="login_welcome" style="font-weight: 800"><TMPL_VAR NAME=EMAIL></div>
		<div class="login_welcome">with your new password. Use it to sign in!</div>
		<div class="login_padding"></div>
        <a class="login_signup" href="bitter.cgi?page=login"><p>Login</p></a>
		<div class="login_padding"></div>
	</div>
</div>
