<div class="container_left">
	
	<TMPL_INCLUDE NAME="card_profiler.tmpl">
	<TMPL_INCLUDE NAME="card_pagination.tmpl">

</div>

<div class="container_middle">
	
	<TMPL_INCLUDE NAME="card_profile.tmpl">
	<TMPL_INCLUDE NAME="feed_bleat.tmpl">

</div>

<div class="container_right">
	
	<TMPL_INCLUDE NAME="card_nav.tmpl">

</div>