<div class="container_login">
    <div class="card">
        <div class="login_padding"></div>
        <div class="login_logo">
            <img src="../images/logo_bitter_512.png">
        </div>
        <div class="login_welcome">Welcome to Bitter!</div>
        <div class="login_about">
            Bitter (/ˈbɪtər/) is an Australian microblogging and social networking service on which users post and interact with messages. It is written in Perl as a CGI application; made for a university project and deployed as a learning experiment.
        </div>
        <a class="login_signup" href="bitter.cgi?page=login"><p>Login</p></a>
        <div class="login_padding"></div>
    </div>
</div>
