<div class="container_login">
	<div class="card">
		<div class="login_padding"></div>
		<div class="login_logo">
			<img src="../images/logo_bitter_512.png">
		</div>
		<div class="login_welcome">Welcome to Bitter!</div>
		<div class="login_message"><TMPL_VAR NAME=MESSAGE></div>
		<form action="bitter.cgi" method="post">
			<input type="text" 		class="login_input" 	name="email" 	placeholder="email">
			<input type="submit" 	class="login_submit"	name="submit"	value="Recover" hidefocus="true"/>
			<input type="hidden" 	                     	name="page" 	value="forgot">
			<input type="hidden" 	                     	name="action" 	value="recover">
		</form>
		<p class="login_signup"><a href="bitter.cgi?page=about">About</a> | <a href="bitter.cgi?page=login">Login</a> | <a href="bitter.cgi?page=signup">Signup</a></p>
		<div class="login_padding"></div>
	</div>
</div>
