<div class="container_login">
	<div class="card">
		<div class="login_padding"></div>
		<div class="login_logo">
			<img src="../images/logo_bitter_512.png">
		</div>
		<div class="login_padding"></div>
		<div class="login_welcome">An email has been sent to</div>
		<div class="login_welcome" style="font-weight: 800"><TMPL_VAR NAME=EMAIL></div>
		<div class="login_welcome">with your new password. Use it to sign in!</div>
		<div class="login_padding"></div>
        <p class="login_signup"><a href="bitter.cgi?page=about">About</a> | <a href="bitter.cgi?page=login">Login</a> | <a href="bitter.cgi?page=signup">Signup</a></p>
		<div class="login_padding"></div>
	</div>
</div>
