<div class="card">
	<form action="bitter.cgi" method="post" style="display: flex">
		<input type="text" 		class="bleat_input" 	name="bleat" 	placeholder="Bleat to your heart's content...">
		<input type="submit" 	class="bleat_submit"	name="submit"	value="Publish" hidefocus="true"/>
		<input type="hidden"							name="page"		value="home">
		<input type="hidden"							name="action"	value="bleat">
	</form>
</div>
<div class="break"></div>