<!-- This whole thing has to be a form -->
<form action="bitter.cgi" method="post">
	<div class="card">
		<p class="settings_title">Personal</p>
		<p>Username</p>
		<input type="text" 	class="settings_input" name="new_username" placeholder="<TMPL_VAR NAME=PROFILE_USERNAME>" autocomplete="off" disabled="disabled">
		<p>Password</p>
		<input type="password" 	class="settings_input" name="password" placeholder="xxxxxxxx" autocomplete="off">
		<p>Name</p>
		<input type="text" 	class="settings_input" name="name" 	placeholder="<TMPL_VAR NAME=PROFILE_NAME>" autocomplete="off">
		<p>Email</p>
		<input type="text" 	class="settings_input" name="email" 	placeholder="<TMPL_VAR NAME=PROFILE_EMAIL>" autocomplete="off">
	</div>
	<div class="break"></div>
	<div class="card">
		<p class="settings_title">About Me</p>
		<p>Write a short thing about yourself...</p>
		<input type="text" 	class="settings_input" name="description" placeholder="<TMPL_VAR NAME=PROFILE_DESCRIPTION>" autocomplete="off" maxlength="142">
	</div>
	<div class="break"></div>
	<div class="card">
		<p class="settings_title">Location</p>
		<p>Home Location</p>
		<input type="text" 	class="settings_input" name="home_suburb" placeholder="<TMPL_VAR NAME=PROFILE_HOME_LOC>" autocomplete="off">
		<p>Home Latitude</p>
		<input type="text" 	class="settings_input" name="home_latitude" 	placeholder="<TMPL_VAR NAME=PROFILE_HOME_LAT>" autocomplete="off">
		<p>Home Longitude</p>
		<input type="text" 	class="settings_input" name="home_longitude" 	placeholder="<TMPL_VAR NAME=PROFILE_HOME_LONG>" autocomplete="off">
	</div>
	<div class="break"></div>
	<div class="card">
		<p class="settings_title">Account</p>
		<div class="settings_message"><TMPL_VAR NAME=MESSAGE></div>
		<p>Suspend account - type password to suspend</p>
		<input type="password" 	class="settings_input" name="suspend" placeholder="xxxxxxxx" autocomplete="off">
		<p>Delete account - type password to delete (This can not be undone)</p>
		<input type="password" 	class="settings_input" name="delete" placeholder="xxxxxxxx" autocomplete="off">
		<p>Email Notifications</p>
		<input type="checkbox" name="notification" <TMPL_IF PROFILE_NOTIFICATIONS>checked</TMPL_IF> style="pointer-events: all !important">
	</div>
	<div class="break"></div>
	<div class="card">
	<!-- 	<a href="bitter.cgi?page=settings?action=save">
			<div class="card2 stats menu profile_listen">Save</div>
		</a> -->
		<div class="save_reset_container">
			<input type="submit" value="Save" class="settings_submit">
			<input type="hidden" name="action" 	value="save">
			<input type="hidden" name="page" 	value="settings">
			</form>
			<form>
				<input type="submit" value="Reset" class="settings_submit">
				<input type="hidden" name="action" 	value="reset">
				<input type="hidden" name="page" 	value="settings">
			</form>
		</div>
	</div>
	<div class="break"></div>
<!-- </form> -->
