<div class="card">
	<div class="profile_picture">
		 <img src="<TMPL_VAR NAME=PROFILE_PICTURE>">
	</div>
	<div class="profile_name">
		<TMPL_VAR NAME=PROFILE_NAME>
	</div>
	<div class="profile_username">
		@<TMPL_VAR NAME=PROFILE_USERNAME>
	</div>
	<div class="break"></div>
	<div class="profile_stats_container">
		<div class="card2 stats profile_bleats">
			<p><TMPL_VAR NAME=PROFILE_BLEATS></p>
			bleats
		</div>
		<div class="card2 stats profile_listeners">
			<p><TMPL_VAR NAME=PROFILE_LISTENERS></p>
			listeners
		</div>
		<div class="card2 stats profile_listening">
			<p><TMPL_VAR NAME=PROFILE_LISTENING></p>
			listening
		</div>
	</div>
</div>
<div class="break"></div>