<div class="card">
	<a href="bitter.cgi?page=profile&profile=<TMPL_VAR NAME=PROFILE_USERNAME>">
		<div class="card2 stats menu home_name"><TMPL_VAR NAME=PROFILE_NAME></div>
	</a>
	<div class="break"></div>
	<div class="home_picture">
		 <img src="<TMPL_VAR NAME=PROFILE_PICTURE>">
	</div>
	<div class="break"></div>
	<div class="card2 stats"><TMPL_VAR NAME=PROFILE_BLEATS> bleats</div>
	<div class="card2 stats"><TMPL_VAR NAME=PROFILE_LISTENERS> listeners</div>
	<div class="card2 stats"><TMPL_VAR NAME=PROFILE_LISTENING> listening</div>
</div>