<div class="card">
	<div class="card2 menu nav_home">Home</div>
	<div class="card2 menu nav_search">Search</div>
	<div class="card2 menu nav_logout">Logout</div>
	<div class="card2 menu nav_settings">Settings</div>
</div>
<div class="break"></div>
<div class="card">
	<div class="disclaimer">
	2015 Bitter Copyright and shit. This is a disclaimer to all the people out there. This is in no way related to other social media sites, nor does it have any connection or foundation from any existing webiste. I would like to thank my family and friends for this oppurtunity. I would also like to lorum ipsum and poop.
	</div>
</div>