<TMPL_LOOP NAME=LOOP_BLEATS>
	<div class="placemarker">
		<div class="card">
			<div class="bleat_display">
				<div class="select_me"></div>
				<div class="bleat_display_text"><div class="text"><TMPL_VAR NAME=BLEAT_TEXT></div></div>
				<div class="bleat_display_profile">
					<div class="info_container">
						<div class="card2 info"><TMPL_VAR NAME=PROFILE_USERNAME></div>
						<div class="card2 info"><TMPL_VAR NAME=BLEAT_TIME></div>
						<div class="card2 info"><TMPL_VAR NAME=BLEAT_LOCATION></div>
					</div>
					<a href="bitter.cgi?page=profile&profile=<TMPL_VAR NAME=PROFILE_USERNAME>" style="pointer-events: all !important">
						<div class="card2 picture_container"><img src="<TMPL_VAR NAME=PROFILE_PICTURE>"></div>
					</a>
				</div>
			</div>
			<div class="bleat_button_expand">
				<img src="../images/icon_arrow_64.png">
			</div>
		</div>
		<!-- Put all the reply loop info here -->
		<TMPL_LOOP NAME=LOOP_REPLIES>
			<div class="card card_reply sub minimise">
				<div class="bleat_display">
					<div class="bleat_display_text"><div class="text"><TMPL_VAR NAME=REPLY_TEXT></div></div>
					<div class="bleat_display_profile">
						<div class="info_container">
							<div class="card2 info"><TMPL_VAR NAME=REPLY_USERNAME></div>
							<div class="card2 info"><TMPL_VAR NAME=REPLY_TIME></div>
							<div class="card2 info"><TMPL_VAR NAME=REPLY_LOCATION></div>
						</div>
						<div class="card2 picture_container"><img src="<TMPL_VAR NAME=REPLY_PICTURE>"></div>
					</div>
				</div>
			</div>
		</TMPL_LOOP>
		<div class="card card_reply sub minimise">
			<form action="bitter.cgi" method="post" style="display: flex">
				<input type="text" 		class="bleat_input" 	name="bleat" 	placeholder="Reply to bleat..." autocomplete="off" maxlength="142">
				<input type="submit" 	class="bleat_submit"	name="submit"	value="Reply" hidefocus="true"/>
				<input type="hidden"							name="page"		value="<TMPL_VAR NAME=PARAM_PAGE>">
				<input type="hidden"							name="action"	value="bleat">
				<input type="hidden" 							name="profile" 	value="<TMPL_VAR NAME=PARAM_PROFILE>">
				<input type="hidden"							name="reply_to"	value="<TMPL_VAR NAME=BLEAT_ID>">
			</form>
		</div>
	</div>
	<div class="break"></div>
</TMPL_LOOP>
<div class="break"></div>
<TMPL_INCLUDE NAME="card_pagenav.tmpl">