<div class="container_login">
	<div class="card">
		<div class="login_padding"></div>
		<div class="login_logo">
			<img src="/images/logo_bitter_512.png">
		</div>
		<div class="login_welcome">Welcome to Bitter!</div>
		<form action="bitter.cgi" method="post">
			<input type="text" 		class="login_input" 	name="email" 	placeholder="email">
			<input type="password" 	class="login_input" 	name="password" placeholder="password">
			<input type="submit" 	class="login_submit"	name="submit"	value="Login" hidefocus="true"/>
		</form>
		<div class="login_padding"></div>
	</div>
</div>