<div class="container_left">
	
	<TMPL_INCLUDE NAME="card_search.tmpl">
	<TMPL_INCLUDE NAME="card_pagination.tmpl">

</div>

<div class="container_middle">
	
	<TMPL_INCLUDE NAME="card_searcher.tmpl">
	<TMPL_INCLUDE NAME="feed_search.tmpl">

</div>

<div class="container_right">
	
	<TMPL_INCLUDE NAME="card_nav.tmpl">

</div>