<div class="container_login">
	<div class="card">
		<div class="login_padding"></div>
		<div class="login_logo">
			<img src="images/logo_bitter_512.png">
		</div>
		<div class="login_padding"></div>
		<div class="login_welcome">Your account is suspended. To continue, you must reactivate your account.</div>
		<form action="bitter.cgi" method="post">
			<input type="submit" 	class="login_submit"	name="submit"	value="Reactivate" hidefocus="true"/>
			<input type="hidden" 							name="page"		value="home">
			<input type="hidden" 							name="action"	value="reactivate">
		</form>
		<form action="bitter.cgi" method="post">
			<input type="submit" 	class="login_submit"	name="submit"	value="Logout" hidefocus="true"/>
			<input type="hidden" 							name="page"		value="home">
			<input type="hidden" 							name="action"	value="logout">
		</form>
		<div class="login_padding"></div>
	</div>
</div>
