<div class="container_left">
	
	<TMPL_INCLUDE NAME="card_upload.tmpl">

</div>

<div class="container_middle">
	
	<TMPL_INCLUDE NAME="card_settings.tmpl">

</div>

<div class="container_right">
	
	<TMPL_INCLUDE NAME="card_nav.tmpl">

</div>