<div class="container_left">
	
	<TMPL_INCLUDE NAME="card_profiler.tmpl">

</div>

<div class="container_middle">
	
	<TMPL_INCLUDE NAME="card_profile.tmpl">
	<TMPL_INCLUDE NAME="bleat_feed.tmpl">

</div>

<div class="container_right">
	
	<TMPL_INCLUDE NAME="card_nav.tmpl">

</div>