/*
	These ones for the card where you post a bleat
*/
.bleat_input {
	width: calc(80% - 10px);
	height: 30px;
	margin: 5px;
	padding-left: 5px;
	/*padding-top: 5px;*/
	pointer-events: all;
	border-radius: 6px;
	background-color: none;
	background  : none;
	border: 2px solid #979797;
	outline: none;
	font-family: 'Oxygen';
	font-size: 14px;
	color: #4A4A4A;
	/*text-align: top;*/
	resize: none;
}

.bleat_input_bleater {
    width: calc(70% - 10px) !important;
}

.bleat_input:focus{
	border: 2px solid #228B22;
	/*height: 100px;
	word-break: break-word;*/
}

.bleat_submit {
	width: calc(20% - 10px);
	min-width: 80px;
	height: inherit;
	margin: 5px;
	pointer-events: all;
	border-radius: 6px;
	background-color: #228B22;
	border: 2px solid #228B22;;
	outline: none;
	cursor: pointer;
	font-family: 'Oxygen';
	font-weight: 500;
	font-size: 14px;
	color: #fff;
}

.bleat_word_count {
    width: calc(10% - 10px);
    text-align: center;
    position: relative;
}
.bleat_word_count_text {
    top: 50%;
    position: relative;
    transform: translate(0, -50%);
    font-size: 18px;
}

/*
	These ones for the cards that display bleats
*/
.bleat_display {
	display: flex;
	display: -webkit-flex;
	width: 100%;
	height: inherit;
}

.bleat_selected {
	width: 3px;
	height: auto;
	background-color: #228B22;
}
.bleat_button_expand {
	text-align: center;
	padding-top: 20px;
	height: auto;
}
	.bleat_button_expand img {
		max-width: 24px;
		max-height: 24px;
		opacity: .4;
		pointer-events: all !important;
		cursor: pointer;
	}
	.flipV {
		-moz-transform: scaleY(-1) translateY(-24px);
        -o-transform: scaleY(-1) translateY(-24px);
        -webkit-transform: scaleY(-1) translateY(-24px);
        transform: scaleY(-1) translateY(-24px);
	}

/*	.bleat_display_options {
		width: 10%;
		height: inherit;
		display: flex;
		display: -webkit-flex;
		flex-direction: column;
		justify-content: space-around;
	}
		.option {
			padding: 5px;
			pointer-events: all;
		}
		.option img {
			max-width: 24px;
			max-height: 24px;
			opacity: .4;
		}
		.option img:hover {
			opacity: .9;
		}*/

	.bleat_display_text {
		width: 50%;
		height: inherit;
		position: relative;
	}
		.text {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translate(0, -50%);
			font-size: 20px;
			padding-right: 10px;
			padding-left: 10px;
		}

	.bleat_display_profile {
		width: 50%;
		height: inherit;
		display: flex;
		display: -webkit-flex;
	}
		.picture_container {
			max-width: 100px;
			max-height: 100px;
		}
			.picture_container img {
				width: 100%;
				/*height: 100%;*/
			}
		.info_container {
			width: 60%;
			height: inherit;
			display: flex;
			display: -webkit-flex;
			flex-direction: column;
			justify-content: space-between;
		}
		.info {
			width: 70%;
			font-size: 12px;
			/*height: calc(100%/3);*/
		}

